input[type="text"] {
    box-shadow: none;
    border-width: 0 0 1px 0;

    &:focus {
        outline: 0;
    }
}

.list {
    li {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__item {
        padding: 5px 0;
    }

    &__checkbox {
        accent-color: var(--accent-color)
    }
    
    &__checkbox:checked ~ &__text {
        color: var(--checked-color);
        text-decoration: line-through;
    }
    
}

